/* common UI elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header elements */
header {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    color: white;
}

.container-top {
    width: 60%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-link-item {
    padding: 15px;
}

#white-button {
    border: none;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 15px;
    min-width: 70px;
    min-height: 28px;
}

.container-button-title {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.container-button-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
}

.paragraph-button {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#img-down {
    width: 7px;
    margin: 9px;
}

.button-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 165px;
}

#white-button-mac {
    border: none;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 15px;
    min-width: 170px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#black-button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    min-width: 195px;
    min-height: 35px;
    margin-left: 50px;
}

/* main elements */
.block1 {
    background-color: #00008b;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-block1 {
    background-color: #ee81ee;
    height: 350px;
    width: 750px;
}

.block2 {
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-block2-blue {
    background-color: #1d90ff;
    height: 350px;
    width: 650px;
}

.item-block2-pink {
    background-color: #ffbfcb;
    height: 350px;
    width: 400px;
}

.block3 {
    background-color: #d3d3d3;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-block3-pink {
    background-color: #ffbfcb;
    height: 350px;
    width: 400px;
}

.item-block3-blue {
    background-color: #1d90ff;
    height: 350px;
    width: 650px;
}

.block4 {
    background-color: #d3d3d3;
    height: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-block4 {
    background-color: #238b21;
    height: 700px;
    width: 1060px;
}

.block5 {
    background-color: #23272a;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-block5-pink {
    background-color: #f08080;
    height: 450px;
    width: 353px;
}

.item-block5-blue {
    background-color: #20b2aa;
    height: 450px;
    width: 176px;
}

/* footer elements */
footer {
    background-color: #23272a;
    height: 80px;
    display: flex;
    align-items: center;
}

.container2 {
    background-color: #7fffd4;
    height: 60px;
    width: 1060px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    background-color: #ffb6c0;
}

.footer-button {
    background-color: #ffb6c0;
}